
body{
	font-family: 'Bebas Neue', 'Oswald', sans-serif;
	margin: 0px;
	background-color: black;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-items: space-between;
	font-family:'Bebas Neue';
	background-color: white;
	color: black;
	padding:0px;
	margin: 0px;
}
.navbar a{
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	color: black;

}
.banner-wrap{
	font-family:'Bebas Neue';
	background-image: url("imagebanner.jpeg");
	background-size: cover;
	background-position: center;
	padding: 150px 0px 100px 0px;
	text-align: center;
}
.banner-wrap h1{
	color: white;
	font-size: 50px;
	margin: 0;
	font-weight: bold;

}

p{
	color: rgba(255, 255, 255, .7);
	font-size: 25px;

}

button{
	background-color: black;
	color: white;
	padding: 16px 48px;
	border-radius: 4px;
	text-decoration: none;
	transition: 3s;
	font-size: 15px ;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	border: none;
}
button a{
	color: white;
	text-decoration: none;
}
.cards-wrap {
	font-family:'Bebas Neue';
	color: white;
	width: 1080 px;
	margin:  60px auto;
}
.cards-wrap h2 {
	font-size: 40px;
	padding-left: 15px;
}

.cards-container {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: safe center;

}
.cards-container h3{
	text-align: center;
	background-color: white;
	color: black;
}
.cards-container a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}


.card {
	background: black;
	box-shadow: 0 0 16px rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin: 0px 20px;

}

.card img{
	width: 300px;
	height: 200px;
}
footer {
	font-family:'Oswald';
	background-color: black;
	padding: 10px 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

footer p{
	font-size:15px;
	color: white;
	margin: 0;
}